$color-primary: #db1313;
$color-border: red;
$color-white: #ffffff;

$color-success: #2e7d32;
$color-error: #c62828;

$color-input-border: #dddddd;
$color-highlight: yellow;

$color-text-dark: #2a2a2a;